<%= form_with(model: sports_supply, local: true) do |form| %>
  <% if sports_supply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sports_supply.errors.count, "error") %> prohibited this sports_supply from being saved:</h2>

      <ul>
      <% sports_supply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
