<%= form_with(model: matchparticipant, local: true) do |form| %>
  <% if matchparticipant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(matchparticipant.errors.count, "error") %> prohibited this matchparticipant from being saved:</h2>

      <ul>
      <% matchparticipant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :playerid %>
    <%= form.text_field :playerid %>
  </div>

  <div class="field">
    <%= form.label :matchid %>
    <%= form.text_field :matchid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
