<p id="notice"><%= notice %></p>

<p>
  <strong>Playerid:</strong>
  <%= @matchparticipant.playerid %>
</p>

<p>
  <strong>Matchid:</strong>
  <%= @matchparticipant.matchid %>
</p>

<%= link_to 'Edit', edit_matchparticipant_path(@matchparticipant) %> |
<%= link_to 'Back', matchparticipants_path %>
