<%= form_with(model: sportinterest, local: true) do |form| %>
  <% if sportinterest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sportinterest.errors.count, "error") %> prohibited this sportinterest from being saved:</h2>

      <ul>
      <% sportinterest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sport_id %>
    <%= form.text_field :sport_id %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.text_field :player_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
