<p id="notice"><%= notice %></p>

<h1>Sportinterests</h1>

<table>
  <thead>
    <tr>
      <th>Sport</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sportinterests.each do |sportinterest| %>
      <tr>
        <td><%= sportinterest.sport %></td>
        <td><%= sportinterest.player %></td>
        <td><%= link_to 'Show', sportinterest %></td>
        <td><%= link_to 'Edit', edit_sportinterest_path(sportinterest) %></td>
        <td><%= link_to 'Destroy', sportinterest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sportinterest', new_sportinterest_path %>
