<p id="notice"><%= notice %></p>

<p>
  <strong>Sport:</strong>
  <%= @sportinterest.sport %>
</p>

<p>
  <strong>Player:</strong>
  <%= @sportinterest.player %>
</p>

<%= link_to 'Edit', edit_sportinterest_path(@sportinterest) %> |
<%= link_to 'Back', sportinterests_path %>
