<%= form_with(model: locationsupportssport, local: true) do |form| %>
  <% if locationsupportssport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(locationsupportssport.errors.count, "error") %> prohibited this locationsupportssport from being saved:</h2>

      <ul>
      <% locationsupportssport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sport %>
    <%= form.text_field :sport %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
