<p id="notice"><%= notice %></p>

<p>
  <strong>Sport:</strong>
  <%= @locationsupportssport.sport %>
</p>

<p>
  <strong>Location:</strong>
  <%= @locationsupportssport.location %>
</p>

<%= link_to 'Edit', edit_locationsupportssport_path(@locationsupportssport) %> |
<%= link_to 'Back', locationsupportssports_path %>
